@use "../../foundation/forwards" as *;

.p-product {
  display: flex;
  gap: 24px;
  padding: 24px 4.27%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include breakpoint(tablet) {
    flex-direction: row;
  }

  &__img {
    width: 345px;
    height: 345px;
    border-radius: 10px;
  }

  &__content {
    max-width: 345px;
  }
}
.p-product-info {
  display: flex;
  &__price {
    margin-left: 8px;
    line-height: 1.5;
  }
  &__tax {
    line-height: 2.5;
  }
}
