@use "../../foundation/forwards" as *;

.c-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  gap: 16px;

  &__img {
    width: 200px;
  }
  &__name {
    font-size: $font-size-lg;
  }
}

.c-leading-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint(tablet) {
    flex-direction: row;
    min-width: 50%;
  }
  &__img {
    position: relative;
    width: 100%;
    height: 345px;
    z-index: 100;
    transform-origin: left;
    @include breakpoint(tablet) {
      max-width: 550px;
    }
    @include breakpoint(pc) {
      max-width: 620px;
    }
  }

  &__content {
    padding: 4.25%;
    transform-origin: right;
    @include breakpoint(tablet) {
      max-width: 500px;
      margin-top: 25px;
      margin-left: -25px;
    }

    @include breakpoint(pc) {
      max-width: 680px;
      margin-left: -25px;
    }
  }
}

.c-menu-card {
  display: flex;
  gap: 20px;

  @include breakpoint(tablet) {
    max-width: 335px;
  }
  &__img {
    min-width: 140px;
    height: 140px;
    border-radius: 10px;
  }

  &__content {
    max-width: 300px;
  }
}

.c-feacture-list-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
  &__img {
    width: 400px;
    height: 300px;
    @include breakpoint(tablet) {
      width: 600px;
      max-width: 720px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 4.27%;
    width: 100%;
    max-width: 600px;
    @include breakpoint(tablet) {
      max-width: 450px;
    }
  }
}

.c-history-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  max-width: 960px;
  padding: 0 4.27%;
  align-items: center;
  &__img {
    max-width: 400px;
    @include breakpoint(tablet) {
      width: 50%;
    }
    & img {
      border-radius: 10px;
    }
  }
  &__content {
    padding: 0 4.27%;
    max-width: 400px;
    @include breakpoint(tablet) {
      width: 50%;
    }
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    gap: 4%;
    &__content {
      padding: 0;
    }
  }

  @include breakpoint(pc) {
    gap: 130px;
  }
  &--reverse {
    @include breakpoint(tablet) {
      flex-direction: row-reverse;
    }
  }
}
